h1{
	font-size: 64px;
	text-align: center;
}
	
	
h2{
	font-size: 30px;
	text-shadow: 5px 5px 2px #808080;
}

div{
	min-height: 150px; 
	padding: 25px;
}


#red{
	background-color: #ff0000; 
	text-align: right;
}

#blue{
	background-color: #0000FF;
	text-align: left;
}

#yellow{
	background-color: #FFFF00; 
	text-align: right; 
}

#yellow h2{
	color: #000000;
	text-align: right;
	text-shadow: 5px, 5px, 2px, #c7e2c7;
}

#green{
	background-color: #008000;
	text-align: left;
}


body{
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Lucida Grande", "Sans-Serif";
}

p {
	font-size: 24px; 
	padding-top:20px;
}

footer{
	text-align: right;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-right: 10px;
}

img{
	display: block;
	margin: auto;
	width: 525px;
	height: auto;
}